{% load static %}
<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="static/css/style.css" type="text/css">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<title></title>
</head>

<body>

	<header style="height:50vh;
	background-image:url(static/img/milkbanner.png);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: scroll;
        background-size:contain;
       -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;">
	</header>


	<!-- Alert -->
	<div class="alert alert-info" role="alert">
		Coming Soon!
	</div>

	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-light">
		<a class="navbar-brand" href="#"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">About</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Sign Up</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Login</a>
				</li>
			</ul>

		</div>
	</nav>


	<!-- About -->
	<section class="About">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="card">

						<div class="card-body">
							<h5 class="card-title">Let's combat the impact of Covid-19 on local communities</h5>
							<p class="card-text">
								Despite the empty shelves as a result of panic buying, there is no shortage of food and
								essentials. However, there are people who may now realise they might have bought more
								than they need..... There are also people who are still in need of essentials.
								<br>
								<h6>What is going to happen to the excess?</h6>
								<br>
								<h6>Are you in need of something?</h6>
								<br>
								<h6>Or are you a "toilet paper hoarder?"</h6>

							</p>
							<a href="https://www.canva.com/design/DAD38NnGOQU/RKYXM09w6CESie9IKzUg3Q/view?utm_content=DAD38NnGOQU&utm_campaign=designshare&utm_medium=link&utm_source=sharebutton"
								target="_blank" class="btn btn-primary">Learn More</a>
						</div>
					</div>
	</section>


	<!-- cards -->

	<section class="cards">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="card">
						<img src="static/img/toiletpaper.jpg" class="card-img-top" alt="Photo by Elle Hughes">
						<div class="card-body">
							<h5 class="card-title">Bought too much Toilet Paper?</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the
								bulk
								of
								the card's content.</p>
							<a href="#" class="btn btn-primary">Share your excess</a>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="card">
						<img src="static/img/need.jpg" class="card-img-top" alt="Photo by Iselene Kei Borromeo Marzan">
						<div class="card-body">
							<h5 class="card-title">Need coffee?</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the
								bulk of the card's content.</p>
							<a href="#" class="btn btn-primary">Help! I need something</a>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="card">
						<img src="static/img/help.jpg" class="card-img-top" alt="Photo by geralt">
						<div class="card-body">
							<h5 class="card-title">I can Help!</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the
								bulk of the card's content.</p>
							<a href="#" class="btn btn-primary">Let me Volunteer</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


	<!-- footer -->

	<!-- WhatsHelp.io widget -->
	<script type="text/javascript">
		(function () {
        var options = {
            facebook: "109146557404043", // Facebook page ID
            call_to_action: "Contact Us", // Call to action
            position: "right", // Position may be 'right' or 'left'
        };
        var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
        s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
        var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
    })();
	</script>

	<!-- footer links here -->
	<footer class="fixed">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-6">

					<!-- About -->
					<h6>About</h6>
					<p class="text-justify">

						Ok, toilet paper has no limit on shelf life but what about meat, dairy, vegetables?
						What is going to happen to all the waste?<br>

There are vulnerable people and others in the community who still need many of these essentials and are unable to get these essentials due to the increased pressure on supermarket delivery services.<br>

Inspired by existing platforms where "trash may be another man's treasure" and the issues local communities are facing. Got Milk will focus primarily on food and essentials. It is a place to give and receive and help communities to overcome the current crisis which has been a result from Covid-19.

				</div>

						<div class="col-xs-6 col-md-3">
							<h6>Quick Links</h6>
							<ul class="footer-links">
								<li class="text-justify"><a href="#">Sign Up</a></li>
								<li class="text-justify"><a href="#">Login</a></li>
								<li class="text-justify"><a href="#">Donate</a></li>
							</ul>
						</div>
				</div>
				<hr>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-sm-6 col-xs-12">
						<p class="copyright-text">Copyright &copy; 2020 Covid-19 Global Hackathon
							<br>
							<a href="http://wickedesigns.herokuapp.com/" target="_blank">WickeDesigns By Naomi
								Wickham</a>
						</p>
					</div>

					<div class="col-md-4 col-sm-6 col-xs-12">

						<a href="https://www.facebook.com/Got-Milk-Virtual-Community-109146557404043"
							target="_blank"><i class="fa fa-facebook"></i></a>


					</div>
				</div>
			</div>
	</footer>








	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
	</script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
	</script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
	</script>
</body>

</html>